<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
  <% if can_display_status?(status) %>
    <div class="status media">
      <%= avatar_profile_link status.user, {}, class: 'pull-left' %>
      <div class="media-body">
        <h4 class="media-heading"><%= status.user.full_name %></h4>
        <p><%= status.content %></p>
        <div class="meta">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
            <% if signed_in? && current_user == status.user %>
            <span class="admin">
              | <%= link_to "Edit", edit_status_path(status) %> | 
              <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
            </span>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>